
header{
    width:100%;
    height:80px;
    background-color:white;
    box-shadow:2px 2px 4px lightgray;
    text-align:center;
}

header img{
    margin-top:15px;
    height:50px;
    padding-left:40px;
}

.form_contents{
    margin:0 auto;
    border:lightgray solid 2px;
    width:600px;
    height:400px;
    background-color:white;
    border-radius:10px;
    margin-top:40px;
    margin-bottom:40px;
    box-shadow:4px 4px 4px lightgray;
}

p{
    text-align:center;
}

.yohaku{
    margin-top:30px;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:30px;
}

footer{
    position:absolute;
    width:100%;
    height:40px;
    background-color:white;
    color:gray;
    text-align:center;
    line-height:40px;
    font-size:13px;
    border-top:lightgray solid 2px;
    bottom:0px;
}

.sinki{
    text-align:center;
}